# Entorno virtual
venv/

# VS Code
.vscode/

# Cache Python
__pycache__/
*.pyc

# Archivos locales
*.sqlite3

# Variables de entorno
.env

# Coverage / Tests
htmlcov/
.coverage

.coverage.*

.pytest_cache/


